<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logintest</servlet-name>
        <servlet-class>com.servlet.Logintest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.servlet.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMonument</servlet-name>
        <servlet-class>com.servlet.AddMonument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMonumentsGrid</servlet-name>
        <servlet-class>com.servlet.ViewMonumentsGrid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonumentsByState</servlet-name>
        <servlet-class>com.servlet.MonumentsByState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMonumentsTable</servlet-name>
        <servlet-class>com.servlet.ViewMonumentsTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUsersTable</servlet-name>
        <servlet-class>com.servlet.ViewUsersTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddValidator</servlet-name>
        <servlet-class>com.servlet.AddValidator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>com.servlet.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSingleMonumentUser</servlet-name>
        <servlet-class>com.servlet.LoadSingleMonumentUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTicket</servlet-name>
        <servlet-class>com.servlet.BookTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterBookings</servlet-name>
        <servlet-class>com.servlet.FilterBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelTicket</servlet-name>
        <servlet-class>com.servlet.CancelTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMonument</servlet-name>
        <servlet-class>com.servlet.EditMonument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>com.servlet.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditValidator</servlet-name>
        <servlet-class>com.servlet.EditValidator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBooking</servlet-name>
        <servlet-class>com.servlet.DeleteBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatorLogin</servlet-name>
        <servlet-class>com.servlet.ValidatorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateTicket</servlet-name>
        <servlet-class>com.servlet.ValidateTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkTicket</servlet-name>
        <servlet-class>com.servlet.MarkTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.servlet.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logintest</servlet-name>
        <url-pattern>/Logintest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.servlet.AdminLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMonument</servlet-name>
        <url-pattern>/addMonument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMonumentsGrid</servlet-name>
        <url-pattern>/viewMonumentsGrid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonumentsByState</servlet-name>
        <url-pattern>/monumentsByState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMonumentsTable</servlet-name>
        <url-pattern>/ViewMonumentsTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUsersTable</servlet-name>
        <url-pattern>/ViewUsersTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddValidator</servlet-name>
        <url-pattern>/AddValidator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSingleMonumentUser</servlet-name>
        <url-pattern>/LoadSingleMonumentUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTicket</servlet-name>
        <url-pattern>/BookTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterBookings</servlet-name>
        <url-pattern>/FilterBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelTicket</servlet-name>
        <url-pattern>/CancelTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMonument</servlet-name>
        <url-pattern>/EditMonument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditValidator</servlet-name>
        <url-pattern>/EditValidator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBooking</servlet-name>
        <url-pattern>/DeleteBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatorLogin</servlet-name>
        <url-pattern>/ValidatorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateTicket</servlet-name>
        <url-pattern>/ValidateTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkTicket</servlet-name>
        <url-pattern>/MarkTicket</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
